.scriptEditor{
    position: relative;
    width: 100%;
    height: 100%;
}
.scriptEditor .Tile{
    position: relative;
    width: 100%;
    height: 100%;
}

.scriptEditor .Header {
    position: relative;
  }
  
.scriptEditor .Header .Add{
position: absolute;
top: -13px;
left: 50%;
transform: translate(-145px, -100%);
z-index: 1199; 
}

.scriptEditor .Header .SelectGraph {
position: absolute;
top: -13px;
left: 50%;
transform: translate(-50%, -100%);
z-index: 1199; 
}

.scriptEditor .Header .Remove{
position: absolute;
top: -13px;
left: 50%;
transform: translate(109px, -100%);
z-index: 1199; 
}

.scriptEditor .Header .History{
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translate(-190px, -100%);
    z-index: 1199; 
    }

.scriptEditor .Header .Save{
position: absolute;
top: -13px;
left: 50%;
transform: translate(154px, -100%);
z-index: 1199; 
}

.scriptEditor-Form-Save{
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translate(154px, -100%);
    z-index: -1; 
    }