.graphEditor{
    position: relative;
    width: 100%;
    height: 100%;
}
.graphEditor .Tile{
    position: relative;
    width: 100%;
    height: 100%;
}

.graphEditor .Header {
    position: relative;
  }
  
.graphEditor .Header .Add{
position: absolute;
top: -11px;
left: 50%;
transform: translate(-145px, -100%);
z-index: 1199; 
}

.graphEditor .Header .SelectGraph {
position: absolute;
top: -11px;
left: 50%;
transform: translate(-50%, -100%);
z-index: 1199; 
}

.graphEditor .Header .Remove{
position: absolute;
top: -11px;
left: 50%;
transform: translate(109px, -100%);
z-index: 1199; 
}

.graphEditor .Header .Save{
position: absolute;
top: -11px;
left: 50%;
transform: translate(154px, -100%);
z-index: 1199; 
}

.graphEditor-Form-Save{
    position: absolute;
    top: -11px;
    left: 50%;
    transform: translate(154px, -100%);
    z-index: -1; 
    }