  .gridLayout{
    position: relative;
    /* width: fit-content; */
  }

  .gridLayout .grid{
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 5px;
  }
  
  .gridLayout .grid .tile {
    position: relative;
  }

  .gridLayout .grid .tile .void{
    position: relative;
    height: 100%;
    width: 100%;
  }  

  .gridLayout .grid .tile .buttonDelete {
    position: absolute;
    top: 5px;
    left: 5px;
    transform: translate(0%, 0%);
    z-index: 10; 
  }

  .gridLayout .grid .tile .buttonChange {
    position: absolute;
    top: 5px;
    right: 5px;
    transform: translate(0%, 0%);
    z-index: 11; 
  }
  
  .gridLayout .grid .tile .buttonEdit {
    position: absolute;
    bottom: 5px;
    right: 5px;
    transform: translate(0%, 0%);
    z-index: 11; 
  }

  .gridLayout .grid .tile .button-b-add {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 11; 
  }

  .gridLayout .grid .tile .button-b-min {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -90%);
    z-index: 11; 
  }

  .gridLayout .grid .tile .button-r-add {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    z-index: 11; 
  }

  .gridLayout .grid .tile .button-r-min {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-100%, -50%);
    z-index: 11; 
  }

  .gridLayout .grid .tile .buttonDrag  {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    transform: translate(-50%, -50%);
    z-index: 12;
  }

  .gridLayout .editHeader {
    position: relative;
  }

  .gridLayout .editHeader .buttonAdd{
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translate(-175%, -100%);
    z-index: 1199; 
  }
  .gridLayout .editHeader .buttonMove{
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 1199; 
  }
  .gridLayout .editHeader .buttonEdit{
    position: absolute;
    top: -11px;
    left: 0%;
    transform: translate(52px, -100%);
    z-index: 1199; 
  }
  .gridLayout .editHeader .buttonUpload{
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translate(75%, -100%);
    z-index: 1199; 
  }